# Maven/Gradle
target/
build/
.gradle/
.mvn/
!mvnw
!mvnw.cmd

# IDE
.idea/
.vscode/
*.iml

# Node (por si acaso)
node_modules/

# Docker
*.log
# Volúmenes locales (si los mapeas fuera de docker)
data/
